# Définition des services à déployer sur Render
services:
  # 1. Configuration du Frontend (PWA - Static Site)
  - type: static
    name: artisanflo-appli
    branch: main
    # RootDir supprimé pour utiliser des chemins absolus
    # rootDir: frontend
    
    # Commande de construction avec changement de répertoire explicite
    buildCommand: 'cd frontend && npm install && npm run build'
    
    # Chemin de publication complet
    publishPath: frontend/dist
    # Règle de réécriture pour PWA/SPA (Redirige tout vers index.html)
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    pullRequest:
      autoDeploy: false
      
  # 2. Configuration du Backend (Web Service - Python)
  - type: web
    name: artisanflo-backend-dev
    branch: main
    runtime: python
    # Le Root Directory pour le serveur Python
    rootDir: backend
    # Commande de construction corrigée (sans le 'cd' car rootDir est déjà 'backend')
    buildCommand: 'pip install -r requirements.txt'
    # Commande de démarrage
    startCommand: 'gunicorn server:app'
    envVars:
      # Render détectera le reste des variables secrètes que j'ai déjà configurées dans l'interface.
      - key: PYTHON_VERSION
        value: 3.11.9
